@page
@model TestAutismoUI.Pages.Containers.CuestionarioModel
@{
    ViewData["Title"] = "Cuestionario";
    int numero = 1;

    Model.pregunta = Model.preguntas.Get(numero);

}
<style>
    .button {
        width: 110px;
        height: auto;
    }
    .boton {
        height: 300px;
        width: 300px;
        border-radius: 50%;
        border: 1px solid red;
    }
    .card{
        height:250px;
    }
</style>


<h1 class="text-center">Cuestionario</h1>
<div class="form-row">   

        <div class="card form-group col-md-12">
            <div class="card-header text-center">
                Pregunta
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    
                    @Model.pregunta.PreguntaRealizada
                    <p />
                    <div class="radio-group">
                        <label>
                            <input type="radio" id="Si" name="Tipo" onclick="fun()">
                            Si
                            <span></span>
                        </label>
                        <br />
                        <label>
                            <input type="radio" id="No" name="Tipo">
                            No
                            <span></span>
                        </label>

                    </div>
                </blockquote>
            </div>
        </div>

</div>




    <script>
        function fun() {
            var type = document.getElementsByName("Tipo");
            if (type[0].checked) {

            }
        }
    </script>

    <div class="form-group row">
        @if (Model.pregunta.Id<= 1)
        {
            <div class="col-md-8"></div>
            //<a class="btn btn-secondary m-1 button" asp-page="/Containers/Ninios" asp-route-Id="@numero3">Guardar</a>
            //<a type="submit" class="btn btn-success button m-1" asp-page="/Containers/Cuestionario" asp-route-id="@numero">Siguiente</a>

        }
        else if (Model.pregunta.Id >= 23)
        {
            <div class="col-md-8"></div>
            //<a class="btn btn-secondary m-1 button" asp-page="/Containers/Ninios" asp-route-Id="@numero3">Guardar</a>
            //<a type="submit" class="btn btn-success button m-1" asp-page="/Containers/Cuestionario" asp-route-id="@numero2">Anterior</a>
            <a class="btn btn-primary m-1 button" asp-page="/Containers/Resultados">Terminar</a>

        }
        else
        {
            <div class="col-md-8"></div>
            //<a class="btn btn-secondary m-1 button" asp-page="/Containers/Ninios" asp-route-Id="@numero3">Guardar</a>
            //<a type="submit" class="btn btn-success button m-1" asp-page="/Containers/Cuestionario" asp-route-id="@numero2">Anterior</a>
            <a type="submit" class="btn btn-success button m-1" asp-page="/Containers/Cuestionario" asp-route-id="@numero">Siguiente</a>

        }
    </div>



