@page
@model TestAutismoUI.Pages.Containers.CuestionarioModel
@{
    ViewData["Title"] = "Cuestionario";
    var mas = Model.pregunta.Id +1;
    var menos = Model.pregunta.Id - 1;
    var guardar = 0;
    var finalizar = 24;
}
<style>
    .button {
        width: 110px;
        height: 30px;
    }

    .boton {
        height: 300px;
        width: 300px;
        border-radius: 50%;
        border: 1px solid red;
    }

    .card {
        height: 250px;
    }

    .PanelP {
        max-height: 450px;
        max-width: 250px;
    }
    .scrollber {
        height: 380px;
        width: 220px;
        overflow-y: scroll;
        margin: 2px;
    }
    .margin{
        margin:5px !important;
    }
    .buttom-align{
        display:flex;
        align-items:flex-end;
    }
</style>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<form class="mt-3" method="post">
    <div class="form-group row" style="min-width:1080px">
        <div class="panel panel-success" style="max-width:270px;">
            <div class="panel-heading text-center">Preguntas</div>
            <div class="form-group panel-body">
                <div class="scrollber">

                    @foreach (var pregunta in Model.Preguntas)
                    {
                        <p>
                            <label class="text-center" style="max-width:247px;">
                                <input type="submit" hidden class="btn btn-default" asp-for="@Model.numero" value="@pregunta.Id" />
                                Pregunta @pregunta.Id
                            </label>
                        </p>
                    }
                </div>
            </div>
        </div>
        <div style="max-width:800px;margin:5px;">
            <h1 class="text-center">Cuestionario</h1>
            <br />
            <p>Este test consta de 23 preguntas las cuales se responderan con "Si" o "No", siendo que en caso de que la conducta sea poco frecuente(menos de dos ocasiones) responda "No", por el contrario si ha observado que el menor tiene las siguientes conductas con mucha frecuencia responda "Si"</p>
            <br />
            <br />
            <div class="panel panel-success form-group" style="min-height:230px;max-width:810px;">
                <div class="panel-heading text-center">
                    Pregunta @Model.pregunta.Id
                </div>
                <div class="panel-body">
                    <blockquote class="blockquote mb-0">
                        <input hidden asp-for="Respuesta.NinioId" />
                        <input hidden asp-for="Respuesta.PreguntaId" />
                        <input hidden asp-for="Respuesta.Id" />
                        <input hidden asp-for="pregunta.Id" />
                        @Model.pregunta.PreguntaRealizada
                        <p />



                        @if (Model.Respuesta.ValorRespuesta == true)
                        {
                            <label>
                                <input type="radio" asp-for="Respuesta.ValorRespuesta" value="true" id="Respuesta1Si" checked />
                                Si
                                <apan></apan>
                            </label>
                            <br />
                        }
                        else
                        {
                            <label>
                                <input type="radio" asp-for="Respuesta.ValorRespuesta" value="true" id="Respuesta1Si" />
                                Si
                                <apan></apan>
                            </label>
                            <br />
                        }
                        @if (Model.Respuesta.ValorRespuesta == false)
                        {
                            <label>
                                <input type="radio" asp-for="Respuesta.ValorRespuesta" value="false" id="Respuesta1No" checked />
                                No
                                <apan></apan>
                            </label>
                            <br />
                        }
                        else
                        {
                            <label>
                                <input type="radio" asp-for="Respuesta.ValorRespuesta" value="false" id="Respuesta1No" />
                                No
                                <apan></apan>
                            </label>
                            <br />
                        }
                    </blockquote>
                    <div class="row float-right margin" style="display:flex; align-items:end !important;">
                        @if (Model.pregunta.Id <= 1)
                        {
                            <label class="btn btn-success button margin">
                                <input type="submit" hidden class="btn btn-success button m-1" asp-for="@Model.numero" value="@guardar" />
                                Guardar
                            </label>
                            <label class="btn btn-success button margin">
                                <input type="submit" hidden class="btn btn-success button m-1" asp-for="@Model.numero" value="@mas" />
                                Siguiente
                            </label>

                        }
                        else if (Model.pregunta.Id >= 23)
                        {
                            <label class="btn btn-success button margin">
                                <input type="submit" hidden class="btn btn-success button m-1" asp-for="@Model.numero" value="@guardar" />
                                Guardar
                            </label>
                            <label class="btn btn-success button margin">
                                <input type="submit" hidden class="btn btn-success button m-1" asp-for="@Model.numero" value="@menos" />
                                Anterior
                            </label>
                            <label class="btn btn-success button margin">
                                <input type="submit" hidden class="btn btn-success button m-1" asp-for="@Model.numero" value="@finalizar" />
                                Terminar
                            </label>
                        }
                        else
                        {
                            <label class="btn btn-success button margin">
                                <input type="submit" hidden class="btn btn-success button m-1" asp-for="@Model.numero" value="@guardar" />
                                Guardar
                            </label>
                            <label class="btn btn-success button margin">
                                <input type="submit" hidden class="btn btn-success button m-1" asp-for="@Model.numero" value="@menos" />
                                Anterior
                            </label>
                            <label class="btn btn-success button margin">
                                <input type="submit" hidden class="btn btn-success button m-1" asp-for="@Model.numero" value="@mas" />
                                Siguiente
                            </label>
                        }
                    </div>
                </div>

            </div>

        </div>
        
    </div>
    
</form>
