@page
@model TestAutismoUI.Pages.Containers.NiniosModel
@{
    ViewData["Title"] = "Ninio";
    int numero = (int)ViewData["Tutor"];
}
<style>
    .button{
        width:150px;
        height:auto;
    }
    
</style>

<h1 class="text-center">Niños</h1>
<div class="form-group row">
    <div class="col-md-10"></div>
    <a class="btn btn-secondary m-1" asp-page="/Containers/RegistroNinio" asp-route-Id="@numero">Ir a registrar niño</a>
</div>

@if (Model.Ninios.Ninios.Any())
{
<div class="card mb-3" style="max-width: 1080px;">
    @foreach (var item in Model.Ninios.Ninios)
    {        
        var foto = $"~/Fotografias/{(string.IsNullOrEmpty(item.Fotografia) ? "nofoto.jpg":item.Fotografia)}";
    <div class="card mb-3" style="max-width: 1080px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="@foto" class="card-img" alt="..." asp-append-version="true" style="width:350px;height:400px">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">@item.NombreCompletoNiño</h5>
                    <p>Curp: @item.CurpNinio</p>
                    <p>Nacionalidad: @item.Nacionalidad</p>
                    <p>Direccion: @item.Direccion</p>
                    <p>Fecha de Nacimiento: @item.FechaNacimientoN</p>
                    <p>Centro Educativo: @item.CentroEducativo.NombreCentro</p>
                    <p>Direccion del Centro @item.CentroEducativo.DireccionCentro</p>
                    <p>Clave del Centro: @item.CentroEducativo.ClaveCentro</p>
                    <div class="form-group row float-lg-right">
                        
                        <a asp-page="/Containers/ModificarNinio" asp-route-Id="@item.Id" class="btn btn-primary m-1 button">Modificar datos</a>
                        <a class="btn btn-success m-1 button" asp-page="/Containers/Cuestionario" asp-route-Id="@item.Id" asp-route-Pregunta="1">Ir al cuestionario</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    }
</div>

}
else
{
    <div class="border text-center">
        <p>No existen contenedores registrados.</p>
    </div>
}


